{
    auto_https disable_redirects
}
mirror.kaolin.uk {
    file_server {
        browse /caddydir/template.html
        root  /var/www/mirror
    }
    tls {
	dns cloudflare {env.CF_API_TOKEN}
    }
}
mirror.jingk.ai {
    file_server {
        browse /caddydir/template.html
        root  /var/www/mirror
    }
    tls {
	dns cloudflare {env.CF_API_TOKEN}
    }

}
