{
    auto_https disable_redirects
}
http://mirror.kaolin.uk
    file_server {
        browse /caddydir/template.html
        root  /var/www/mirror
    }
}
https://mirror.kaolin.uk {
    file_server {
        browse /caddydir/template.html
        root  /var/www/mirror
    }
    tls {
	dns cloudflare {env.CF_API_TOKEN}
    }
}
http://mirror.kaolin.uk{
    file_server {
        browse /caddydir/template.html
        root  /var/www/mirror
    }
}
https://mirror.kaolin.uk {
    file_server {
        browse /caddydir/template.html
        root  /var/www/mirror
    }
    tls {
	dns cloudflare {env.CF_API_TOKEN}
    }
}
