{
    auto_https disable_redirects
}
http://mirror.kaolin.uk {
    @mygeofilter {
        maxmind_geolocation {
        db_path "/caddydir/GeoLite2-Country.mmdb"
        deny_countries RU CN
        }
    }

    file_server {
        browse /caddydir/template.html
        root  /var/www/mirror
    }
}
https://mirror.kaolin.uk {
    @mygeofilter {
        maxmind_geolocation {
        db_path "/caddydir/GeoLite2-Country.mmdb"
        deny_countries RU CN
        }
    }
    file_server {
        browse /caddydir/template.html
        root  /var/www/mirror
    }
    tls {
	dns cloudflare {env.CF_API_TOKEN}
    }
}
http://mirror.jingk.ai {
    @mygeofilter {
        maxmind_geolocation {
        db_path "/caddydir/GeoLite2-Country.mmdb"
        deny_countries RU CN
        }
    }
    file_server {
        browse /caddydir/template.html
        root  /var/www/mirror
    }
}
https://mirror.jingk.ai {
    @mygeofilter {
        maxmind_geolocation {
        db_path "/caddydir/GeoLite2-Country.mmdb"
        deny_countries RU CN
        }
    }
    file_server {
        browse /caddydir/template.html
        root  /var/www/mirror
    }
    tls {
	dns cloudflare {env.CF_API_TOKEN}
    }
}
